<div class="bg-body"></div>
<div class="flex flex-col md:flex-row">
  <div class="md:w-1/3 px-4 py-2">
    <!-- Profile section content here -->
    <div *ngFor="let n of profile">
      <!--Profile-->
      <div class="bg-stone-100 shadow-md rounded my-6 pb-3 border">
        <div class="css-after-gradiant"><img class="w-full" src="{{n.image}}"></div>
        <div class="px-6 py-4">
          <div class="text-green-600 font-bold text-xl mb-2">{{n.name}}</div>
          <p class="text-gray-800 text-base"> {{n.description}} </p>
        </div>
        <div class="px-6 pt-4 pb-2">
          <span
            class="inline-block bg-gray-400 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#coding</span>
          <span
            class="inline-block bg-gray-400 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#food</span>
          <span
            class="inline-block bg-gray-400 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#winter</span>
        </div>
        <!--Social links-->
        <div class="flex items-center gap-1 border-t-2 border-green-500 mt-1">
          <a href="https://www.linkedin.com/in/jarednaschenweng/"><svg xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 48 48" width="48px" height="48px">
              <path fill="#0288D1"
                d="M42,37c0,2.762-2.238,5-5,5H11c-2.761,0-5-2.238-5-5V11c0-2.762,2.239-5,5-5h26c2.762,0,5,2.238,5,5V37z" />
              <path fill="#FFF"
                d="M12 19H17V36H12zM14.485 17h-.028C12.965 17 12 15.888 12 14.499 12 13.08 12.995 12 14.514 12c1.521 0 2.458 1.08 2.486 2.499C17 15.887 16.035 17 14.485 17zM36 36h-5v-9.099c0-2.198-1.225-3.698-3.192-3.698-1.501 0-2.313 1.012-2.707 1.99C24.957 25.543 25 26.511 25 27v9h-5V19h5v2.616C25.721 20.5 26.85 19 29.738 19c3.578 0 6.261 2.25 6.261 7.274L36 36 36 36z" />
            </svg></a>
        </div>
      </div>
    </div>
  </div>
  <div class="md:w-2/3 px-4 py-2 bg-white">
    <!-- Main content here -->
    <div class="bg-stone-100 shadow-md rounded my-6 border">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2 text-green-600">/&nbsp;Skills&nbsp;/</div>
        <div class="flex flex-wrap">
          <div class="w-1/2">
            <ul>
              <li>
                <div class="mb-1 text-base font-medium text-gray-800">Angular</div>
                <div class="w-full bg-gray-200 rounded-full h-2.5 mb-4 ">
                  <div class="bg-red-600 h-2.5 rounded-full" style="width: 66%"></div>
                </div>
              </li>
              <li>
                <div class="mb-1 text-base font-medium text-gray-800">HTML</div>
                <div class="w-full bg-gray-200 rounded-full h-2.5 mb-4 ">
                  <div class="bg-orange-600 h-2.5 rounded-full" style="width: 90%"></div>
                </div>
              </li>
              <li>
                <div class="mb-1 text-base font-medium text-gray-800">CSS</div>
                <div class="w-full bg-gray-200 rounded-full h-2.5 mb-4 ">
                  <div class="bg-blue-600 h-2.5 rounded-full" style="width: 80%"></div>
                </div>
              </li>
              <li>
                <div class="mb-1 text-base font-medium text-gray-800">TypeScript</div>
                <div class="w-full bg-gray-200 rounded-full h-2.5 mb-4 ">
                  <div class="bg-cyan-600 h-2.5 rounded-full" style="width: 60%"></div>
                </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!--About me-->
    <div class="bg-stone-100 shadow-md rounded my-6 border">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2 text-pink-600">/&nbsp;About&nbsp;/</div>
        <p class="text-gray-800 text-base" [innerHTML]="profile[0].about"></p>
      </div>
    </div>
    <!-- Experience -->
    <div class="bg-stone-100 shadow-md rounded my-6">
      <div class="flex flex-col space-y-8">
        <div class="flex flex-col space-y-2">
          <div class="px-6 py-4 border">
            <div class="font-bold text-xl mb-2 text-blue-600">/&nbsp;Experience&nbsp;/</div>
            <div *ngFor="let experience of experiences" class="border-b">
              <div class="flex items-center justify-between mb-4 py-2">
                <div class="font-light text-sm text-blue-600">{{experience.date_start}} - {{experience.date_end}}</div>
                <div class="text-sm text-blue-600 font-bold underline underline-offset-2 hover:text-purple-700"><a href="{{experience.url}}"[target]="_blank">{{experience.company}}</a></div>
                <div class="text-sm text-blue-600">{{experience.position}}</div>
              </div>
              <div class="text-sm text-gray-900 font-light overflow-hidden"
                [ngClass]="{'h-20': !experience.showFullDescription}">
                <p [innerHTML]="experience.description"
                  [ngClass]="{'text-gray-400 blur-[0.2px]': !experience.showFullDescription}"></p>
              </div>
              <button class="text-green-500 hover:underline" *ngIf="!experience.showFullDescription"
                (click)="experience.showFullDescription = true">Read More</button>
              <button class="text-green-500 hover:underline" *ngIf="experience.showFullDescription"
                (click)="experience.showFullDescription = false">Read Less</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Certifications-->
    <div class="bg-stone-100 shadow-md rounded my-6 border">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2 text-orange-600">/&nbsp;Certifications&nbsp;/</div>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
          <div class="bg-white shadow-md rounded-lg overflow-hidden" *ngFor="let certificate of certificates">
            <a href="{{certificate.img}}" target="_blank">
              <img class="w-full cursor-pointer" src="{{certificate.img}}">
            </a>
            <div class="px-6 py-4">
              <div class="font-bold text-xl mb-2">{{certificate.name}}</div>
              <div class="text-gray-700 text-base overflow-hidden"
                [ngClass]="{'h-20': !certificate.showFullDescription}">
                <p [ngClass]="{'text-gray-400 blur-[0.2px]' : !certificate.showFullDescription}">
                  {{certificate.description}}</p>
              </div>
              <button class="text-green-500 hover:underline" *ngIf="!certificate.showFullDescription"
                (click)="certificate.showFullDescription = true">Read More</button>
              <button class="text-green-500 hover:underline" *ngIf="certificate.showFullDescription"
                (click)="certificate.showFullDescription = false">Read Less</button>
            </div>
            <div class="px-6 pt-4 pb-2">
              <a [href]="certificate.pdf" download>
                <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Download</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>